name: Continuous Integration & Delivery
on:
  pull_request:
  workflow_dispatch:
defaults:
  run:
    shell: bash
jobs:
  ci:
    name: Continuous Integration
    runs-on: ubuntu-latest
    steps:
      - name: Clone
        uses: actions/checkout@v4

      - name: Create App Directory
        run: mkdir golang_app

      - name: Create dummy app file
        run: echo "This is a dummy file for the artifact upload" > golang_app/app

      - name: Store Artifact
        uses: actions/upload-artifact@v4
        with:
          name: golang_app
          path: golang_app/app 